/* 1️⃣ Google Fonts (loaded first) */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");

/* 2️⃣ Tailwind (loaded after fonts) */
@import "tailwindcss";
.perspective-1000 {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.card-delights {
border-radius: 15px;
border: 5px solid #9F2B2C;
background: linear-gradient(180deg, #FEF3B1 0%, #E0A03F 100%);
}
.card-delights-description {
border-radius: 15px;
border: 5px solid #9F2B2C;
background: #FEF3B1;
}


/* Drinks from Menu page */
.card {
    width: 336px;      /* outer square width */
    height: 406px;     /* outer square height */
    border-radius: 15px;
    border: 7px solid transparent;
    outline: 7px solid #355D67;
    background: #FEF3B1;
    position: relative;
    display: flex;
    justify-content: center;
    
    z-index: 10;
    padding-top: 6px;
}
.card-background {
    width: 310px;
    height: 320px;
    border-radius: 15px;
    background: radial-gradient(66.67% 66.67% at 50% 50%, #FEF3B1 35.58%, #355D67 100%);
}
.card-text-container {
    width: 310px;
    height: 45px;
    bottom: 6px;
    position: absolute;
    display: flex;
    justify-content: space-between;

}

.background {
    background-image: url("./images/home-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("./images/overlay.png");
    background-size: auto;         /* keep original size */
    background-position: top left; /* start from top-left */
    background-repeat: repeat;     /* repeat both horizontally and vertically */

    pointer-events: none;
    z-index: 9;
}


.name-animation {
    display: flex;
    position: absolute;
}
/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


.name-animation .text-wrapper {
    font-family: "Bagel Fat One", Helvetica;
    font-size: 256px;
    font-weight: 400;
    height: 371px;
    line-height: normal;
    text-align: center;
    margin-left: -5px;
    text-shadow: 10px 10px 0px #9f2b2c;
    color: #e0a03f;
    -webkit-text-stroke: 5px #9f2b2c;

}
.box {
    height: 119px;
    width: 1500px;
}

.box .rectangle {
    height: 119px;
    left: 30px;
    position: fixed;
    top: 0;
    width: 1440px;
}
